<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Chillies</title>
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Community Chillies</h1>
    <h3>You can see all the information about chillies here, posted by everyone, for everyone!</h3>
    <ul>
        <% chillies.forEach((chilli) => { %>
            <li><a href="/users/<%= chilli.creator._id %>/chillies/<%= chilli._id %>"><%= chilli.name %></a> - created by user <span style="font-weight: bold;">:</span> <%= chilli.creator.username %></li>
        <% }) %>
    </ul>
</body>
</html>